name: NoAds UPD

on:
  schedule:
    - cron: '30 3 * * *'
  push:
    paths:
      - 'contrib/upd_exclude'
  workflow_dispatch:

jobs:
  noads_upd:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
        with:
          fetch-depth: 1

      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Rome"

      - name: Set date and time
        run: bash ./sh/parts/datetime.sh

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Build UPD list
        run: bash ./sh/make_upd.sh

      - name: Prepend UPD list header
        if: env.stop != 'true'
        run: |
          cat <<EOF > header_upd.txt
          ! Title: X Files: UPD uBlock Phishing Domains
          ! Version: $update
          ! Last modified: $lastmodified
          ! Expires: 1 day (update frequency)
          !
          ! uBlock Phishing Domains blocca siti i web dannosi per la tua navigazione
          ! Una lista specificatamente pensata per uBlock Origin
          !
          ! Homepage: https://xfiles.noads.it
          ! Blog: https://go.gioxx.org/noads
          ! Database: https://github.com/mitchellkrogza/Phishing.Database
          ! Hosting: GitHub.com
          !
          EOF
          cat upd.txt >> header_upd.txt
          mv header_upd.txt upd.txt

      - name: Prepare vCheck
        if: env.stop != 'true'
        run: |
          num_of_lines=$(grep -v '^! ' "upd.txt" | wc -l)
          md5=$(md5sum upd.txt | cut -d ' ' -f 1)

          cat <<EOF > vcheck/check_upd.txt
          $update
          $lastmodified
          $checkwebsite
          $num_of_lines
          $md5
          EOF

      - name: Commit UPD
        if: env.stop != 'true'
        run: |
          git config --local user.email "114237374+GWall-bot@users.noreply.github.com"
          git config --local user.name "GWall[bot]"
          git add upd.txt vcheck/check_upd.txt
          git diff --cached --quiet || git commit -m "Aggiornamento UPD (GHA) $update del $lastmodified"

      - name: Push changes
        if: env.stop != 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
