name: NoAds HWS

on:
  schedule:
    - cron: '45 3 * * *'
  workflow_dispatch:

jobs:
  noads_hws:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 1

      - name: Set Timezone
        run: sudo timedatectl set-timezone Europe/Rome

      - name: Set date and time
        run: bash ./sh/parts/datetime.sh

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Make Stable (HWS Build)
        run: bash ./sh/make_hws.sh

      - name: Prepare list header
        run: |
          cat <<EOF > siteblock_tmp.txt
          [Adblock Plus 2.8]
          ! Title: NoAds X Files: HWS Harmful WebSites
          ! Version: $update
          ! Harmful WebSites blocca siti web potenzialmente dannosi per la tua navigazione
          ! Last modified: $lastmodified
          ! Expires: 2 days
          ! Homepage: https://xfiles.noads.it
          ! Blog: https://go.gioxx.org/noads
          ! Hosting: GitHub.com
          !
          EOF
          cat siteblock.txt >> siteblock_tmp.txt
          mv siteblock_tmp.txt siteblock.txt

      - name: Prepare vCheck
        if: env.stop != 'true'
        run: |
          num_of_lines=$(grep -v '^! ' "siteblock.txt" | wc -l)
          md5=$(md5sum siteblock.txt | cut -d ' ' -f 1)

          cat <<EOF > vcheck/check_siteblock.txt
          $update
          $lastmodified
          $checkwebsite
          $num_of_lines
          $md5
          EOF

      - name: Commit Changes
        if: env.stop != 'true'
        run: |
          git config --local user.name "GWall[bot]"
          git config --local user.email "114237374+GWall-bot@users.noreply.github.com"
          git add siteblock.txt vcheck/check_siteblock.txt
          git diff --cached --quiet || git commit -m "Aggiornamento HWS (GHA) $update del $lastmodified"

      - name: Push Changes
        if: env.stop != 'true'
        run: git push
