name: NoAds eXperimental

on:
  push:
    paths:
      - 'contrib/xfiles_*'

  workflow_dispatch:

jobs:
  noads_experimental:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 1

      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Rome"

      - name: Set date and time
        run: bash ./sh/parts/datetime.sh

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Build eXperimental list
        run: bash ./sh/make_experimental.sh

      - name: Prepare eXperimental header
        if: env.stop != 'true'
        run: |
          cat <<EOF > header_exp.txt
          [Adblock Plus 2.8]
          ! Version: $update
          ! Title: ABP eXperimental Files: the unstable list
          ! Fork sperimentale di X Files, si consiglia di usare la lista Stable!
          ! Last modified: $lastmodified
          ! Expires: 8 hours
          ! Homepage: https://xfiles.noads.it
          ! Home: https://xfiles.noads.it
          ! Blog: https://go.gioxx.org/noads
          ! Hosting: GitHub.com
          !
          EOF
          cat experimental.txt >> header_exp.txt
          mv header_exp.txt experimental.txt

      - name: Prepare vCheck
        if: env.stop != 'true'
        run: |
          num_of_lines=$(grep -v '^! ' "experimental.txt" | wc -l)
          md5=$(md5sum experimental.txt | cut -d ' ' -f 1)

          cat <<EOF > vcheck/check_experimental.txt
          $update
          $lastmodified
          $checkwebsite
          $num_of_lines
          $md5
          EOF

      - name: Commit eXperimental
        if: env.stop != 'true'
        run: |
          git config --local user.email "114237374+GWall-bot@users.noreply.github.com"
          git config --local user.name "GWall[bot]"
          git add experimental.txt vcheck/check_experimental.txt
          git diff --cached --quiet || git commit -m "Experimental $update del $lastmodified"

      - name: Push changes
        if: env.stop != 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
