name: NoAds Commit Counter
on:
  push:
    paths:
      - 'fritz/fritz_blacklist.txt'
      - 'experimental.txt'
  
  workflow_dispatch:

jobs:
  count-commits:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0

    - name: Set Timezone
      uses: szenius/set-timezone@v1.2
      with:
        timezoneLinux: "Europe/Rome"

    - name: Set date and time
      run: sh ./sh/datetime.sh

    - name: Count Commits
      run: |
        COMMIT_COUNT=$(git rev-list --count HEAD)
        echo "Commit count: $COMMIT_COUNT"
        echo $COMMIT_COUNT > vcheck/check_gh.txt

    - name: Commit updated counter
      run: |
          git config --local user.email "114237374+GWall-bot@users.noreply.github.com"
          git config --local user.name "GWall[bot]"
          git add vcheck/check_gh.txt
          git commit -m "Commit Counter del $lastmodified" -a
      
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}